html, body {
    color: #000;
    min-height: 100%;
    height: 100%;
    background-color: #E9DC99;
    /*background: #E9DC99 url("/static/images/bg2.png") no-repeat right bottom;*/
    background: #F9F5DD url("/static/images/pattern.jpg") repeat left top;
    font-size: 14px;
    font-family: Verdana,sans-serif;
}
#wrap {
    min-height: 100%;
}
.header-title {
    color: #a67c0a;
}
.navbar .navbar-inner {
    background-image: none;
    background-repeat: repeat-x;
    border: 0 solid #2B1F1F;
    border-radius: 7px;
    box-shadow: none;
    min-height: 40px;
    margin: 0 100px;
    padding: 7px 50px 0 60px;
    background-color: #d6c097;
    height: 60px;
    background:  transparent url("/static/images/menu_bg.png") no-repeat left top;
}
.navbar .navbar-inner .container1 {
	background-color: #bba06b;
	box-shadow: 2px 2px 13px -5px #000000;
	border-radius: 7px;
}
.main-block {
    background: #d6c097 url("/static/images/block11.png") no-repeat left top;
    height: 250px;
    width: 250px;
    position: relative;
    margin: 0 auto;
}
.main-block-tansparent{
    background-color: #2B1F1F;
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0.7;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
}
.main-block-title {
    position: absolute;
    top: 90px;
    left: 30px;
    height: 20px;
    color: #000;
    padding: 10px;
    font-size: 16px;
    font-style: italic;
}
.main-block-image {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
input, fieldset, legend {
    border-radius: 7px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
.phone {
    font-size: 28px;
    font-weight: 700;
    padding: 40px 100px 0 0;
    color: #2B1F1F;
    background: transparent url("/static/images/telefon.png") no-repeat right top;
    height: 100px;
}
.header {
}
.header-title {
    font-size: 40px;
    font-weight: 700;
    padding: 10px 10px 0 0;
}
.plain-gallery .image-block {
    float: left;
    padding: 10px 20px;
}
.plain-gallery .image-block img {
    width: 250px;
}
.plain-gallery-photo {
    height: 100px;
}
.clear {
    clear: both;
}
.plain-gallery {
    background-color: transparent;
    padding: 20px 40px;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    /*background-color: #E9DC99;
    border: 0 solid #2B1F1F;
    border-radius: 7px;
    background-color: #D6C097;*/
    background-color: transparent;
    box-shadow: none;
    color: #996600;
    text-decoration: underline;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
    color: #996600;
    text-decoration: underline;
}
.navbar .nav > li > a {
    color: #996600;
    font-size: 18px;
    font-weight: 700px;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: none;
}

.navbar-left ul.nav-left {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar-left .nav-left > li {
    list-style: none;
}
.navbar-left .nav-left > li > a{
    font-size: 18px;
    font-weight: 700px;
    float: none;
    padding: 5px 5px;
    text-decoration: none;
    text-shadow: none;
    color: #000;
    display: block;
}
.navbar-left .nav-left > .active > a, .navbar-left .nav-left > .active > a:hover, .navbar-left .nav-left > .active > a:focus {
    text-decoration: underline;
    color: #A67C0A;;
    /*background: url("/static/images/arrow.png") no-repeat scroll right 1px transparent;*/
}
.arrow-block {
    background: url("/static/images/arrow.png") no-repeat scroll right 1px transparent;
    padding: 0 15px 0 0;
}
.navbar-left-inner {
    margin: 0 0 0 20px;
}
.article-item {
	padding: 10px 0;
}
.article-item-title {
    color: #A67C0A;
}
.article-item-text {
	/*background: #E9DC99 url("/static/images/frame.png") no-repeat left top;
	height: 400px;*/
}
.article-item-text a {
	color: #000;
	text-decoration: none;
}
.article-item-text a:hover {
	text-decoration: underline;
}
.article-item-title a {
	color: #A67C0A;
	text-decoration: none;
}
.article-title {
	color: #A67C0A;
	font-size: 150%;
	padding: 10px 20px;
}
.main-container {
	background-color: #d6c097;
	/*margin: 20px auto;
	border-radius: 28px;*/
	box-shadow: 2px 2px 13px 3px #000000;
	height: 100%;
}
.showcase-block {
	background-color: #d6c097;/*#F9F5DD*/
	/*background: #d6c097 url("/static/images/pattern2.png") repeat left top*/
}
.showcase-block {
    height: 280px;
    /*background: #FFF url("/static/images/roses_white_2.jpg") repeat left top;*/
    border-radius: 34px;
    margin: 20px 50px;
}
.showcase {
    height: 320px;
    overflow: hidden;
}
.showcase-block .showcase-image {
	float: left;
	margin: 15px 20px;
}
.showcase-block .showcase-text {
	padding: 15px 20px;
	/*text-align: justify;*/
	font-size: 16px;
	font-style: italic;
	line-height: 25px;
}
.pictures-group {
	overflow: hidden;
	border: 0 solid #000;
	margin: 0 20px 0 0;
}
.pictures-group-title {
	margin: 0 0 0 15px;
}
hr.pictures-group-separator {
	/*border: 1px #bfac8b solid;*/
	 height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
	margin: 20px 0 0 0;
}