{% extends "two_columns.html" %}
{% load cms_tags menu_tags templatetags %}

{% block left_bar %}
	<div class='navbar-left'>
    	<div class="navbar-left-inner">
            <ul class="nav-left">
		    {% for page in request.current_page.parent.get_children %}
		        {% if page.published %}
		        	<li>
		        		{% if request.current_page == page%}
		        			{% page_attribute "title" page %}
		        		{% else %}
		        			<a href="{% page_url page %}">{% page_attribute "title" page %}</a>
		        		{% endif %}
		        	</li>
		        {% endif%}
		    {% endfor %}
    		</ul>
    	</div>
    </div>
{% endblock %}
{% block main_bar %}
	<br/><br/>
	<div class='row-fluid'>
		<div class='offset4 span4'></div>
		{% for page in request.current_page.parent.parent.get_children %}
			{% if request.current_page.parent != page %}
				<div class='span4'>
		            <div class='services-catalog-parents-title'>
		            	{% if request.current_page.parent != page %}
			        	     <a href='{% page_url page %}'>{% page_attribute "title" page %}&nbsp;>></a>
			        	{% endif %}
			        </div>
		        </div>
			{% endif %}
		{% endfor %}
	</div>
    <div class="article-title">{% page_attribute "page_title" %}</div>
    <div class='article-text'>
    	{% placeholder content %}
    </div>
    <div class="article-items-wrapper">
    {% for page in request.current_page.get_children %}
        {% if page.published %}
            <div class="article-item">
                <div class="article-item-title">
                	<a href="{% page_url page %}">
                		{% page_attribute "title" page %}
                	</a>
                </div>
                <div class="article-item-text">
                	<a href="{% page_url page%}">
                		{% get_page_content "content" page.id None None 300 %}
                	</a>
                	<!--  span class="arrow-block"><a href="{% page_url page%}">...</a></span  -->...
                </div>
            </div>
        {% endif%}
    {% endfor %}
    </div>
{% endblock %}