{% load cms_tags sekizai_tags %}
<html>
    <head>
        {% render_block "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/basic.css?v=2">
        
        <!-- 
        <script type="text/javascript" src="{{ STATIC_URL }}colorbox/jquery.colorbox.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}colorbox/colorbox.css?v=1">-->
        
        <!-- <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}tn3/skins/tn3/tn3.css"></link>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}mediaelement/mediaelementplayer.css"></link> -->
        
        <script type="text/javascript" src="{{ STATIC_URL }}/lightbox/js/jquery-1.7.2.min.js"></script>
        
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.corner.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}/lightbox/js/lightbox.js"></script>
        <link href="{{ STATIC_URL }}/lightbox/css/lightbox.css" rel="stylesheet" />
        
        <!-- <script type="text/javascript" src="{{ STATIC_URL }}mediaelement/mediaelement-and-player.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}tn3/js/jquery.tn3lite.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}mediaelement/tn3.mediaelement.min.js" type="text/javascript"></script> -->
        <script>
            $(document).ready(function(){
                //$(".colorbox-image").colorbox({rel:'colorbox-image'});
                //rel="lightbox"
            });
        </script>
    </head>
    <body>
        {% cms_toolbar %}
        <div id="wrap">
            <div class='container main-container'>
                {% block header %}
                    <div class='header'>
                        <div class='row-fluid'>
                            <div class='span8 header-title'><img src="{{ STATIC_URL }}images/title3.png"/></div>
                            <div class='span4 phone'>8(921)111-11-11</div>
                        </div>
                    </div>
                {% endblock %}
                {% block navigation %}
                    {% load menu_tags %}
                    {% show_menu 0 100 100 100 %}
                {% endblock %}
                {% block base_content %}
                    {% page_attribute "page_title" %}
                    {% placeholder base_content %}
                {% endblock %}
                <div class="clear"></div>
            </div>
        </div>
        <div class='footer'>Copyright</div>
        {% render_block "js" %}
    </body>
</html>