{% extends "two_columns.html" %}
{% load cms_tags %}

{% block left_bar %}
    <div class='navbar-left'>
    	<div class="navbar-left-inner">
            <ul class="nav-left">
		    {% for page in request.current_page.parent.get_children %}
		        {% if page.published %}
		        	<li>
		        		{% if request.current_page == page%}
		        			{% page_attribute "title" page %}
		        		{% else %}
		        			<a href="{% page_url page %}">{% page_attribute "title" page %}</a>
		        		{% endif %}
		        	</li>
		        {% endif%}
		    {% endfor %}
    		</ul>
    	</div>
    </div>
{% endblock %}
{% block main_bar %}
    {% placeholder gallery_content %}
{% endblock %}