{% extends "two_columns.html" %}
{% load cms_tags menu_tags templatetags %}

{% block left_bar %}
    <div class='navbar-left'>
    	<div class="navbar-left-inner">
            <ul class="nav-left">
		    {% for page in request.current_page.get_children %}
		        {% if page.published %}
		        	<li>
		        		{% if request.current_page == page%}
		        			{% page_attribute "title" page %}
		        		{% else %}
		        			<a href="{% page_url page %}">{% page_attribute "title" page %}</a>
		        		{% endif %}
		        	</li>
		        {% endif%}
		    {% endfor %}
    		</ul>
    	</div>
    </div>
{% endblock %}
{% block main_bar %}
	<script type="text/javascript">
	$(function(){
		$('.jwGallery').galleryView();
	});
	</script>
	{% if request.current_page.parent_id %}
    	<div class="gallery-title">{% page_attribute "page_title" %}</div>
    {% endif %}
    {% for page in request.current_page.get_children %}
        {% if page.published %}
            <div class="gallery-item">
                <div class="gallery-item-title">
                	<a href="{% page_url page %}">
                		{% page_attribute "title" page %}
                	</a>
                </div>
                {% show_placeholder "gallery_content" page.id None None %}
            </div>
        {% endif%}
    {% endfor %}
{% endblock %}