{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}
<div class='showcase-block-wrapper'>
    <div class='showcase-block'>
        <div class='showcase showcase-block-active' id='showcase1'>
        	<div class="showcase-image">
            	<img src="{{ STATIC_URL }}images/index.jpeg" title="" alt=""/>
            </div>
            <div class="showcase-text">
            	<div class="showcase-title">Вас приветствует Быданова Инна Игоревна!</div>
				Здесь Вы сможете больше узнать обо мне, о моей врачебной деятельности, 
				о моей профессии. 
				Стремление человека к красоте и гармонии вечно, как и сама жизнь. 
				Однако нельзя забывать и о том, что оба эти понятия неразрывно 
				связаны со здоровьем. Профессия врача, как никакая другая,
				способна объединить в себе все эти необходимые атрибуты жизни человека.
				После окончания Санкт-Петербургской Государственной 
				Педиатрической Медицинской Академии я поступила в ординатуру по дерматовенерологии. 
				После основного образования закончила курсы по терапевтической косметологии на базе 
				Санкт-Петербургского Государственного Медицинского Университета им. И.П.Павлова. 
				Дарить людям красоту без глубоких знаний анатомии, физиологии, 
				фармакологии и специфики кожных заболеваний, 
				которые сопутствуют получению врачебного образования, практически невозможно. 
            </div>
        </div>
        <div class='showcase' id='showcase2' style="display:none">
            <img src="{{ STATIC_URL }}images/showcase2.jpg" title="" alt=""/>
        </div>
        <div class='showcase' id='showcase3' style="display:none">
            <img src="{{ STATIC_URL }}images/showcase3.jpg" title="" alt=""/>
        </div>
    </div>
</div>
    <div class='lenta-wrapper makeMeScrollable'>
		<div class='lenta '>
			<div class='lenta-block' style="background:url('/static/images/lentaBlock1.jpeg')">
				<div class='lenta-block-tansparent'></div>
				<div class='lenta-block-title'>Пилинги</div>
			</div>
			<div class='lenta-block' style="background:url('/static/images/lentaBlock2.jpeg')">
				<div class='lenta-block-tansparent'></div>
				<div class='lenta-block-title'>Уходы за лицом</div>
			</div>
			<div class='lenta-block' style="background:url('/static/images/lentaBlock3.jpeg')">
				<div class='lenta-block-tansparent'></div>
				<div class='lenta-block-title'>Инъекции красоты</div>
			</div>
			<div class='lenta-block' style="background:url('/static/images/lentaBlock4.jpeg')">
				<div class='lenta-block-tansparent'></div>
				<div class='lenta-block-title'>Аппаратная косметология</div>
			</div>
			<div class='lenta-block' style="background:url('/static/images/lentaBlock5.jpeg')">
				<div class='lenta-block-tansparent'></div>
				<div class='lenta-block-title'> </div>
			</div>
			
			<div class='lenta-block' style="background:url('/static/images/lentaBlock1.jpeg')">
				<div class='lenta-block-tansparent'></div>
				<div class='lenta-block-title'>Пилинги</div>
			</div>
			<div class='lenta-block' style="background:url('/static/images/lentaBlock2.jpeg')">
				<div class='lenta-block-tansparent'></div>
				<div class='lenta-block-title'>Уходы за лицом</div>
			</div>
			<div class='lenta-block' style="background:url('/static/images/lentaBlock3.jpeg')">
				<div class='lenta-block-tansparent'></div>
				<div class='lenta-block-title'>Инъекции красоты</div>
			</div>
			<div class='lenta-block' style="background:url('/static/images/lentaBlock4.jpeg')">
				<div class='lenta-block-tansparent'></div>
				<div class='lenta-block-title'>Аппаратная косметология</div>
			</div>
			<div class='lenta-block' style="background:url('/static/images/lentaBlock5.jpeg')">
				<div class='lenta-block-tansparent'></div>
				<div class='lenta-block-title'> </div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
	    <div class="offset5 span1"><div class='separator1_'></div></div>
	    <div class="span6"></div>
    </div>
    <div class='bottom-slogan'>
         Доверь красоту профессионалу!
    </div>
<script type="text/javascript">
	$(function() {
		$(".makeMeScrollable").smoothDivScroll({
			mousewheelScrolling: "allDirections",
			manualContinuousScrolling: true
		});
	});
</script>
<script type="text/javascript">
    function activateMenuItem(number) {
        switch(number){
            case 1:
                $(".showcase").not("#showcase1").css("display", "none");
                $("#showcase1").css("display", "block");
                break;
            case 2:
                $(".showcase").not("#showcase2").css("display", "none");
                $("#showcase2").css("display", "block");
                break;
            case 3: 
                $(".showcase").not("#showcase3").css("display", "none");
                $("#showcase3").css("display", "block");
                break;
        }
    };
    function showShowcase(number) {
        activateMenuItem(number);
        $(".showcase").not("#showcase" + number).fadeOut("slow");
        $("#showcase" + number).fadeIn("slow");
    }
    $(function(){
        var delaySwitching = false;
        
        $("#showcase1").mouseover(function() {
            delaySwitching = true;
            showShowcase(1);
        });
        
        $("#showcase2").mouseover(function() {
            delaySwitching = true;
            showShowcase(2);
        });
        
        $("#showcase3").mouseover(function() {
            delaySwitching = true;
            showShowcase(3);
        });
        
        function showcaseSwitcher(number, timeout) {
            showShowcase(number);
            setInterval(function() {
                if (!delaySwitching) {
                    showShowcase(number);
                }
            }, timeout);
        };
        $(window).load(function(){
            var qnt = $(".showcase").length;
            $(".showcase").each(function(index) {
                var delayInterval = 6000;
                var delay = delayInterval*(index);
                //setTimeout(function() {
                //    showcaseSwitcher(index + 1, qnt*delayInterval);
                //}, delay);
            });
        });
    });
</script>
{% endblock %}