{% extends "base.html" %}
{% load cms_tags menu_tags templatetags %}

{% block base_content %}
	<br/><br/>
	<div class='row-fluid'>
		{% for page in request.current_page.parent.get_children %}
			{% if forloop.counter == 1 %}
				 <div class='offset2 span4'>
				 	<div class='services-catalog-parents-title'>
			        	 <a href='{% page_url page %}'><<&nbsp;{% page_attribute "title" page %}</a>
			        </div>
		        </div>
			{% endif %}
			{% if forloop.counter == 2 %}
				<div class='span4'>
		            <div class='services-catalog-parents-title'>
			        	 <a href='{% page_url page %}'>{% page_attribute "title" page %}&nbsp;>></a>
			        </div>
		        </div>
			{% endif %}
		{% endfor %}
		<div class='offset2'>
	    </div>
	</div>
    <div class='services-catalog'>
		{% for page in request.current_page.get_children %}
			<div class='service-catalog-block'>
			    <div class='services-catalog-title'>
			        <a href='{% page_url page %}'>{% page_attribute "title" page %}</a>
			    </div>
			    <div class='service-catalog-text'>
			    	{% get_page_content "content" page.id None None 300 %}...
			    </div>
			</div>
		{% endfor %}
	</div>
{% endblock %}