{% extends "base.html" %}
{% load cms_tags menu_tags templatetags %}

{% block base_content %}
	<br/><br/>
	<div class='row-fluid'>
		{% for page in request.current_page.parent.get_children %}
			{% if request.current_page == page %}
				 <div class='offset4 span2'>
				 	<div class='services-catalog-parents-title'>
					 		{% page_attribute "title" page %}
			        </div>
		        </div>
			{% endif %}
		{% endfor %}
		{% for page in request.current_page.parent.get_children %}
			{% if request.current_page != page %}
				<div class='offset3 span3'>
		            <div class='services-catalog-parents-title'>
			        	     <a href='{% page_url page %}'>{% page_attribute "title" page %}&nbsp;>></a>
			        </div>
		        </div>
			{% endif %}
		{% endfor %}
	</div>
    <div class='services-catalog'>
		{% for page in request.current_page.get_children %}
			<div class='service-catalog-block'>
			    <div class='services-catalog-title'>
			        <a href='{% page_url page %}'>{% page_attribute "title" page %}</a>
			    </div>
			    <div class='service-catalog-text'>
			    	{% get_page_content "content" page.id None None 300 %}...
			    </div>
			</div>
		{% endfor %}
	</div>
{% endblock %}