{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}
    <div class='row-fluid'>
        <div class='offset2 span4'>
	        <div class='service-block' id='service-block-first'>
	        	<div class='service-block-text'>
	            	Красота Тела
	        	</div>
	    	</div>
        </div>
        <div class='span4'>
            <div class='service-block' id='service-block-second'>
            	<div class='service-block-text'>
            		Красота Лица
            	</div>
            </div>
        </div>
        <div class='offset2'>
        </div>
    </div>
{% endblock %}